
.image-container{
    display: flex;
    align-content: center;
    justify-content: center;

}
#image {
    width: 33.3%;
    height:280px;
}
h1{
    padding: 10px;
    margin: 0 30px;
    text-align: center;
}

.MainPara{
    padding: 10px;
    margin: 20px 30px;
    text-align: center;
    background-color: lightsteelblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    line-height: 30px;
    

}
.paragraph{
    padding: 10px;
    margin: 0 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: rgb(214, 163, 226);
    line-height: 30px;
    
}

.paragraph-container{
    display: flex;
}
.parasub {
margin: 0 70px;
padding: 0px 50px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;

}

.button-container{
    display: flex;
    margin: 15px auto;
    
}
.but1{
    text-decoration: none;
    border: 2px solid rgb(34, 34, 192);
    padding :5px 10px;
    margin: 0 157px;
    width:110px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    color: black;
    background-color: rgb(86, 133, 219);
    font-weight: bold;
}
a.but1:hover{
    color: rgb(48, 45, 45);
    background-color: rgba(181, 74, 202, 0.418);
    border: 2px solid rgb(74, 3, 116);
}