
  body{
      background-image:url("img/back1co.avif");
      background-repeat:no-repeat;
      background-size: cover;
      
    }
  
  table, th, td {
      border: 3px solid;
    }
    table{
      width :85%;
      border-collapse: collapse;
      margin: 0 auto;
    }
    th {
      height: 70px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: larger;
      background-color: rgb(212, 168, 138);
    }
    td {
      text-align: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 30px;
      background-color: white;
      padding: 10px 15px;
      
    }
    .tablediv{
      text-align: center;
    }
    p {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: larger;
      font-weight: bold;
      color: rgb(233, 228, 228);
    }
    